extends ./layout.pug
block content
    // Here starts the nav
    nav.nav
      .nav-logo
        a(href='index.html')
          img(src='assets/logo.png')
        .nav-logo-text
          .nav-logo-text-name
            a(href='#home') Antonio J. G&oacute;mez
          .nav-logo-text-job Web Developer &amp; Administrator
      .nav-menu
        ul#navmenu.nav-menu-list
          li
            a(href='#personal') ABOUT ME
          li
            a(href='#services') SERVICES
          li
            a(href='#projects') PROJECTS
          li
            a(href='javascript:showLightbox();') CONNECT
        a#aMenu.nav-menu-button
          i.fa.fa-th-list.fa-2x
    // Here starts the home section
    header#home.header
    section.home-container
      #HomeOver1.home-container-text1
        h2 Administration
        ul
          li Apache / Nginx / IIS
          li Windows PowerShell / Linux Shell
          li AnyDesk / VNC / RDP / TeamViewer
          li VirtualBox / VMWare / Hyper-V
          li Windows Server 2008 R2 / 2012 R2
          li MySQL
          li Hardware and Software support
      .home-container-image
        img(src='assets/foto.jpg', alt='')
        h2 Antonio J. G&oacute;mez
        a#aHome.home-container-image-plus
          i.fa.fa-plus-square.fa-2x
        a.home-container-image-know(href='#personal') KNOW ME
      #HomeOver2.home-container-text2
        h2 Web Development
        ul
          li HTML5 / Pug(Jade)
          li CSS3 / Stylus / SCSS / SASS
          li Javascript &amp; jQuery
          li Bootstrap / Angular.js
          li Responsive Design / Mobile First
          li Git / GitHub / GitLab
          li Wordpress / Joomla
          li Woocommerce
      #HomeOver.home-container-over
    // Here starts the personal section
    header#personal.personal-header
    section.personal
      .personal-container
        .personal-container-text
          h1 About me
          .personal-container-text-p
            p
              | My name is Antonio Jos&eacute; G&oacute;mez D&iacute;az and I&apos;m a Front-end developer with knowledge of system administration.
            p
              | Lover of computers and digital technologies, boosted by the desire of learning new competences and skills. My motivation is facing new challenges and interesting projects, solving the human and technical issues of each one.
            p
            .personal-container-text-p-buttons
              a(href='assets/CV AJGD English Web.pdf', target='_blank') DOWNLOAD CV
              a.buttonfm(href='javascript:showLightbox();') FIND ME
        img.personal-container-image(src='assets/foto2.jpg', alt='')
    // here starts the services section
    header#services.services-header
    section.services-container
      .services-container-dev
        h1 Development
        .services-container-dev-text
          ul
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Static websites and Landing pages
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  UI interfaces
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Elements animation
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Responsive design &amp; Mobile first websites
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Work with HTML &amp; CSS preprocessors
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Work with CSS &amp; JavaScript Frameworks
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Work with Control version technologies
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Full websites with Wordpress &amp; Joomla CMS
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Ecommerce with Woocommerce &amp; Magento
      .services-container-admin
        h1 Administration
        .services-container-admin-text
          ul
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Web Servers
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Work with Windows &amp; UNIX command line terminals
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Administration &amp; work with Remote Desktop software
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Deploy &amp; administration of Virtualization technologies
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Windows &amp; Linux Servers
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  MySQL BD
            li
              i.fa.fa-chevron-circle-right.fa-lg(aria-hidden='true')
              |  Hardware and Software support
    // here starts the projects section
    header#projects.projects-header
    section.projects-container
      .projects-container-exp
        h1 Experience
        .projects-container-exp-images
          .imgdevrf
            img.projectdev(src='assets/projects/rf.jpg', alt='')
            a(href='http://radiofocaccia.com/', target='_blank')
              h2 Radio Focaccia
          .imgdevrf
            img(src='assets/projects/bs.jpg')
            a(href='pages/landing/index.html', target='_blank')
              h2 Landing page example with Bootstrap
    // here starts the connect section
    #over.overbox
      .connect-header
      h1 Connect with me
      .connect-container
        .connect-container-text
          p
            | If you are interested in my services, you have any questions or want more information, you can contact me through:
          a(href='mailto:ajgomezd@outlook.com')
            i.fa.fa-envelope-o
            | ajgomezd@outlook.com
          a(href='#')
            i.fa.fa-mobile.fa-2x
            | 07749317891 / 645 514 294
          a(href='https://es.linkedin.com/in/antonio-josé-gómez-díaz-17721a67', target='_blank')
            i.fa.fa-linkedin-square
            | LinkedIn
        img(src='assets/fotoconnect.jpg', alt='')
      a.close(href='javascript:hideLightbox();') X
      a.closemob(href='javascript:hideLightbox();') Cerrar X
    #fade.fadebox &nbsp;
    footer.footer
      p.footer-text
        i.fa.fa-copyright
        |  2016 Antonio Jos&eacute; G&oacute;mez D&iacute;az. All rights reserved
      .footer-top
        a(href='#home')
          i.fa.fa-chevron-up.fa-2x
    block scripts
    script(src='http://code.jquery.com/jquery-2.2.2.min.js', integrity='sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=', crossorigin='anonymous')
    script(src='index.js', type='text/javascript', charset='utf-8', async='', defer='')
