doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Antonio José Gómez Díaz
    link(rel='shortcut icon', href='assets/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Lobster|Lato:400,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='app.css')
body
  block content
  block scripts